.prevValue {
	display: flex;
	gap: 4px;
	font-size: 14px;
	color: var(--secondary-text);
	margin-top: 12px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.badge {
	padding: 2px 6px;
	font-size: 12px;
	font-weight: 600;
	border-radius: 8px;
	color: var(--success-text);
	background-color: var(--success-bg);
}

.badge__negative {
	color: var(--negative-text);
	background-color: var(--negative-bg);
}

.btns {
	display: flex;
	gap: 4px;
}

.btn {
	cursor: pointer;
	color: var(--btn-text);
	padding: 4px 8px;
	border: 0;
	background-color: var(--btn-bg);
	border-radius: 4px;
}

.btn:hover {
	color: var(--btn-hover-text);
	background-color: var(--btn-bg-hover);
}

.btn__active {
	color: var(--btn-text-active);
	background-color: var(--btn-bg-active);
}

.text {
	display: flex;
	gap: 4px;
}

.skeleton {
	margin-top: 12px;
	height: 20px;
	background-color: #e0e0e0;
	border-radius: 4px;
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		background-color: #e0e0e0;
	}
	50% {
		background-color: #c0c0c0;
	}
	100% {
		background-color: #e0e0e0;
	}
}

.diff {
	color: var(--success-text);
}

.diff__negative {
	color: var(--negative-text);
}
