.card {
	background-color: #faf0e6;
	flex: 1;
	min-width: 200px;
	height: 100px;
	padding: 16px;
	border-radius: 8px;
}

.title {
	font-size: 28px;
	margin: 6px 0 0 0;
}

.valueContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: max-content;
}

.value {
	margin: 6px 0 0 0;
}

.icon {
	margin: 6px 0 0 8px;
	color: #beb7ae;
}

.icon:hover {
	color: #bda689;
}

.tooltip {
	position: absolute;
	background-color: black;
	font-size: 12px;
	width: max-content;
	padding: 6px;
	border-radius: 6px;
	margin-top: -55px;
	margin-left: 25px;
	opacity: 0;
	color: #faf0e6;
	visibility: hidden;
}

.visible {
	opacity: 0.8;
	transition: opacity 0.25s ease-out, visibility 0.25s ease-out;
	visibility: visible;
}
