.card {
	background-color: var(--card-background-color);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 16px 2px;
	flex: 1;
	min-width: 200px;
	height: 100px;
	padding: 16px;
	border-radius: 8px;
}

.title {
	font-size: 14px;
	margin: 6px 0 0 0;
	color: var(--secondary-text-color);
}

.value {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: max-content;
	margin: 6px 0 0 0;
	font-size: 24px;
	font-weight: 600;
}

.value:hover {
	color: var(--primary-color);
}

.value:hover .tooltip {
	opacity: 1;
	visibility: visible;
}

.tooltip {
	display: flex;
	align-items: center;
	gap: 6px;
	background-color: var(--secondary-color);
	font-size: 12px;
	font-weight: 200;
	width: max-content;
	padding: 6px;
	border-radius: 6px;
	margin-left: 8px;
	opacity: 0;
	color: var(--secondary-text-color);
	visibility: hidden;
}
