:root {
	/** common */
	--primary: #6241d9;
	--secondary: #8777f2;

	--bg: #f2f2f2;
	--bg-card: #f9f9f9;

	--primary-text: #333333;
	--secondary-text: #828282;
	--primary-header: #1a1a1a;
	--secondary-header: #4f4f4f;

	/** statuses */
	--success-primary: #3a9f53;
	--success-text: #3a9f53;
	--success-bg: #dff5e3;

	--negative-primary: #d93030;
	--negative-text: #d93030;
	--negative-bg: #fde2e2;

	/** buttons */
	--btn-bg-active: #6241d9;
	--btn-text-active: #ffffff;

	--btn-bg: #e0e0e0;
	--btn-text: #a3a3a3;

	--btn-bg-hover: #7d5fea;
	--btn-hover-text: #ffffff;

	/** tooltips */
	--tooltip-bg: #424242;
	--tooltip-text: #e0e0e0;
}

.dark {
	/* common */
	--primary: #7d5fea;
	--secondary: #9b8aff;

	--bg: #1e1e1e;
	--bg-card: #2a2a2a;

	--primary-text: #e0e0e0;
	--secondary-text: #b3b3b3;
	--primary-header: #ffffff;
	--secondary-header: #cfcfcf;

	/* statuses */
	--success-primary: #55d17a;
	--success-text: #55d17a;
	--success-bg: #1d3d2d;

	--negative-primary: #e56e6e;
	--negative-text: #e56e6e;
	--negative-bg: #3d1d1d;

	/* buttons */
	--btn-bg-active: #7d5fea;
	--btn-text-active: #ffffff;

	--btn-bg: #333333;
	--btn-text: #e0e0e0;

	--btn-bg-hover: #9b8aff;
	--btn-hover-text: #ffffff;

	/* tooltips */
	--tooltip-bg: #333333;
	--tooltip-text: #e0e0e0;
}

body {
	padding: 16px;
	background-color: var(--bg);
	color: var(--primary-text);
	transition: background-color 0.3s, color 0.3s;
}

p {
	margin: 0;
}
