:root {
	--primary-color: rgb(92, 103, 247);
	--secondary-color: #f9f9fa;
	--background-color: #f9fafc;
	--card-background-color: #ffffff;
	--primary-text-color: #212b37;
	--secondary-text-color: #6e829f;
	--success-background: rgb(33, 206, 158, 0.1);
	--success: rgb(33, 206, 158);
	--btn-bg-color: #f9f9fa;
	--btn-bg-active-color: rgb(92, 103, 247, 0.1);
}

body {
	padding: 16px;
	background-color: var(--background-color);
	color: var(--primary-text-color);
}

p {
	margin: 0;
}
