.indicator {
	display: flex;
	align-items: center;
	gap: 2px;
}

.title {
	font-size: 14px;
	font-weight: 400;
	color: var(--secondary-text);
}

.value {
	font-weight: 600;
	font-size: 14px;
	color: var(--secondary-text);
}

.icon {
	color: var(--secondary-text);
}

.text {
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
}
