.btnGroup {
	display: flex;
	gap: 6px;
}

.btn {
	display: flex;
	align-items: center;
	border: none;
	border-radius: 6px;
	padding: 4px 6px;
	color: var(--btn-text);
	background-color: var(--btn-bg);
	gap: 4px;
	cursor: pointer;
}

.btn__active {
	color: var(--btn-text-active);
	background-color: var(--btn-bg-active);
	cursor: default;
}
.btn__dark {
	color: var(--btn-text-active);
	background-color: var(--btn-bg-active);
}

.btn:hover {
	color: var(--btn-hover-text);
	background-color: var(--btn-bg-hover);
}
.btn__active:hover {
	color: var(--btn-text-active);
	background-color: var(--btn-bg-active);
}
